@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

.home__logo-gif {
  width: 100%; /* Responsive width */
  max-width: 650px; /* Maximum width */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image */
  flex-shrink: 0; /* Prevent shrinking */
}
/* Media queries to control behavior on smaller screens */
@media screen and (max-width: 768px) {
  .home__logo-gif {
    width: 90%; /* Slightly larger on smaller screens */
    max-width: 500px; /* Adjust max width */
  }
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Alegreya';
  background-color: #FFFFFF; 
}

.home__container {
  display: flex; /* Flexbox layout */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  flex-direction: column; /* Stack items vertically */
  height: 100vh; /* Full viewport height */
  text-align: center; /* Center text */
}
.home__content {
  display: flex; /* Flexbox for content */
  flex-direction: column; /* Column layout */
  align-items: center; /* Center items horizontally */
}

.home__title {
  font-family: 'Alegreya';
  font-size: var(--big-font-size);
  margin-top: -35px;
  margin-bottom: var(--mb-0-25);
  text-align: center;
  color: var(--title-color);
}

.home__subtitle {
  font-family: 'Alegreya';
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
  text-align: center; 
}

.home__description {
  max-width: 400px;
  margin: 0 auto var(--mb-3) auto;
  text-align: center; 
}

.home__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem; 
  margin-top: 1rem;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 50px; /* Make the buttons more circular */
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}

.button__icon {
  display: none;
}

@media screen and (max-width: 992px) {
  .home__content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
    text-align: center; 
  }

  .home__subtitle {
    padding-left: 0; 
    margin-bottom: var(--mb-1);
  }

  .home__description {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }
}

@media screen and (max-width: 768px) {
  .home__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
    text-align: center; 
  }

  .home__data {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 350px) {
  .home__scroll {
    display: none;
  }
}