.heading1 {
  text-align:center;
  font-size:50px;
  font-family:"Kanit",sans-serif;
  display:block;
  font-style:normal;
  color:#073d47;
}

.heading2{
  text-align:center;
  font-size:50px;
  font-family:"Kanit",sans-serif;
  display:block;
  font-style:normal;
  color:#073d47;
  
}

.subtext1{
  display:inline-block;
  font-size:20px;
  font-family:"Kanit",sans-serif;
  font-style:normal;
  color:#1f7a8c;
}

.subtext2 {
  display:inline-block;
  font-size:20px;
  font-family:"Kanit",sans-serif;
  font-style:normal;
}

.h3 {
  display:inline;
  
}

.text {
  display:inline;
  text-align:left;
  font-size:15px;
  font-family:"Kanit", sans-serif;
  font-weight:10;
  font-style: normal;
  color:#073d47;
}

.logo{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
}

.fade{
  animation-name:fade;
  animation-duration:1.5s;
  
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.end{
  margin-top:100px;
}
