* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 0;
}

.graphics {
    position:relative;
    
    padding-left: 2rem;
    padding-top:2rem;

    margin-left:2.1rem;
    width:30%;
    
}

.kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size:20px;
    font-style: normal;
    
}

.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.projects-container {
    display: inline-grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
    
}
.kanit-heavy{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size:40px;
    font-style:bold;
    padding-top:30px;
}

.text-body {
    display: inline-flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;
    
}

#logo {
    padding-right: 2rem;
    padding-left: 0;
}
.text-left{
    display:inline;
    
}

@media (max-width: 700px) {

    h1 {
        margin-top: 0;
    }

    h2 {
        font-size: 20px;
    }

    .projects-container {
        flex-direction: column;
        gap: 0;
    }
    
    .graphics {
        max-height: 370px;
        max-width: 400px;
        margin-bottom: 0;
        
    }
}
